version: "3.3"

networks:
  loki:

services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./localhost-key.pem:/etc/nginx/localhost-key.pem:ro
      - ./localhost.pem:/etc/nginx/localhost.pem:ro
    networks:
      - loki
    depends_on:
      - loki
      - grafana

  loki:
    image: grafana/loki:latest
    # ports:
    #   - "3100:3100"
    volumes:
      - ./loki:/loki
    user: "10001:10001"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/log:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
      - loki

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_FEATURE_TOGGLES_ENABLE=alertingSimplifiedRouting,alertingQueryAndExpressionsStepMode
      - GF_SERVER_ROOT_URL=https://localhost:8080/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
      - GF_SERVER_DOMAIN=localhost
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh
    image: grafana/grafana:latest
    # ports:
    #   - "3000:3000"
    networks:
      - loki