name: CI-Back

on:
  push:
    branches: [main, feature/**]
    paths:
      - "sources/core/**"
      - ".github/workflows/ci-backend.yml"
  pull_request:
    branches: [main]
    paths:
      - "sources/core/**"

jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release

  test_job:
    runs-on: ubuntu-latest
    needs: build_job
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
      - name: Restore dependencies
        run: dotnet restore
      - name: Run tests with coverage
        run: dotnet test /p:CollectCoverage=true /p:CoverletOutput=sources/core/tests/.qodana/code-coverage/ /p:CoverletOutputFormat=lcov
